body{
width:100%;
height:100%;
background-color:#e0e0e0;
overflow: hidden !important;
border: 0 none;
position:relative;
}

a{
border: 0 none;
visibility: hidden;
}

h1{
font-size:20px;
}

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }



.welcome_screen{
background-image:url('../img/background.jpg') !important;
background-size: 100% 100%;
position:relative;
border:0;
}

.about_screen{
background-image:url('../img/background_about.jpg') !important;
background-size: 100% 100%;
position:relative;
border:0;
}

.gameplay_screen{
background-image:url('../img/gameplay_screen.jpg') !important;
background-repeat:no-repeat;
position:relative;
border:0;
}


.button_newgame{
background-image:url('../img/button_newgame.png');
visibility:visible;
width:200px;
height:94px;
margin-top:30%;
margin-left:60%;
position:relative;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}



.button_left{
z-index:99;
background-image:url('../img/button_left.png');
visibility:visible;
width:70px;
height:82px;
margin-top:25%;
margin-left:2%;
position:relative;
border:0;
float:left;
opacity:1.0;
filter:alpha(opacity=100);
}

.button_right{
z-index:99;
background-image:url('../img/button_right.png');
visibility:visible;
width:70px;
height:82px;
margin-top:25%;
margin-left:30%;
position:relative;
border:0;
float:left;
opacity:1.0;
filter:alpha(opacity=100);
}

.button_left:active,
.button_left:hover,
.button_right:active,
.button_right:hover,
.button_newgame:active,
.button_newgame:hover,
.button_done:active,
.button_done:hover,
.button_tutorial:active,
.button_tutorial:hover,
.button_about:active,
.button_about:hover
{
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}



.button_done{
background-image:url('../img/button_done.png');
visibility:visible;
width:200px;
height:94px;

margin-left:60%;
position:relative;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}

#button_pause{
background-image:url('../img/button_pause.png');
visibility:visible;
width:104px;
height:106px;
margin-left:80%;
margin-top:29%;
position:relative;
border:0;
z-index:120;
opacity:1.0;
filter:alpha(opacity=100);
}

#button_pause:active,
#button_pause:hover
{
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}

#button_music_container{
margin-top:10%;
margin-left:55%;
position:relative;
width:260px;
height:124px;
}

#button_music_on{
background-image:url('../img/button_music_on.png');
width:123px;
height:124px;
position:absolute;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
float:left;
}

#button_music_off{
background-image:url('../img/gray_off.png');
width:123px;
height:124px;
margin-left:60%;
position:absolute;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}

#button_music_on:active,
#button_music_on:hover{
background-image:url('../img/button_music_on.png');
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}

#button_music_off:active,
#button_music_off:hover{
background-image:url('../img/button_music_off.png');
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}








.button_tutorial{
background-image:url('../img/button_tutorial.png');
visibility:visible;
width:200px;
height:94px;
margin-top:3%;
margin-left:60%;
position:relative;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}


.button_about{
background-image:url('../img/button_about.png');
visibility:visible;
width:200px;
height:94px;
margin-left:60%;
position:relative;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}



.button_back{
background-image:url('../img/button_back.png');
visibility:visible;
width:200px;
height:94px;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}

.button_back:active,
.button_back:hover{
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}



.overlay_zombie{
z-index:99;
background-image:url('../img/overlay_zombie.png');
visibility:visible;
width:340px;
height:94px;
position:absolute;
border:0;
float:left;
opacity:1.0;
filter:alpha(opacity=100);
}

#zombie{
background:transparent url('../img/zombie.png') 0 0 no-repeat;
visibility:visible;
width:356px;
height:480px;
position:absolute;
border:0;
margin-left:1%;
opacity:1.0;
filter:alpha(opacity=100);
}

#zombie_gameplay{
background:transparent url('../img/zombie_sprite.png') 0 0 no-repeat;
visibility:visible;
width:218px;
height:480px;
position:absolute;
border:0;
margin-left:6%;
}


.ui-page { -webkit-backface-visibility: hidden; }

canvas{
position:absolute;
z-index:10;
display:block;
}

.canvas_wrapper{
position: relative
}
.canvas_wrapper:active  #zombie_gameplay{
background:transparent url('../img/zombie_sprite.png') -218px 0 no-repeat;
}

.overlay     { position:absolute; top:0%; left:0%; width:100%; height:100%;}

.overlay_begin     {
position:absolute;
z-index:99; 
background-image:url('../img/overlay_begin.png');
width:100%;
height:100%;
}
 
 
.logotype{
background-image:url('../img/logotype.png');
width:382px;
height:221px;
position:absolute;
margin-left:23%;
margin-top:1%;

-webkit-animation-name: logotype;
-webkit-animation-duration: 6s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

-o-animation-name: logotype;
-o-animation-duration: 6s;
-o-transform-origin:50% 50%;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: linear;

-moz-animation-name: logotype;
-moz-animation-duration: 6s;
-moz-transform-origin:50% 50%;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;

animation-name: logotype;
animation-duration: 6s;
transform-origin:50% 50%;
animation-iteration-count: infinite;
animation-timing-function: linear;
 }
 
.nomnom{
visibility:hidden;
background-image:url('../img/nom.png');
width:127px;
height:66px;
margin-left:33%;
margin-top:30%;
position:absolute;
border:0;
z-index:120;
 }
 
.x1{
visibility:hidden;
background-image:url('../img/x1.png');
width:42px;
height:32px;
margin-left:66%;
margin-top:0%;
position:absolute;
border:0;
z-index:120;
 }
 
.x2{
visibility:hidden;
background-image:url('../img/x2.png');
width:51px;
height:38px;
margin-left:72%;
margin-top:0%;
position:absolute;
border:0;
z-index:120;
 }
 
.x3{
visibility:hidden;
background-image:url('../img/x3.png');
width:62px;
height:45px;
margin-left:79%;
margin-top:0%;
position:absolute;
border:0;
z-index:120;
 }

 



/*-----------------------Animations---------------------------- */

@-o-keyframes logotype {
	0% { -o-transform: translate(2px, 1px) rotate(0deg); }
	10% { -o-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -o-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -o-transform: translate(0px, 2px) rotate(0deg); }
	40% { -o-transform: translate(1px, -1px) rotate(1deg); }
	50% { -o-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -o-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -o-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -o-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -o-transform: translate(2px, 2px) rotate(0deg); }
	100% { -o-transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes logotype {
	0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes logotype {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes logotype {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@font-face {
font-family: 'londrina';
src: url('../fonts/LondrinaSolid-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/LondrinaSolid-Regular-webfont.woff') format('woff'),
url('../fonts/LondrinaSolid-Regular-webfont.ttf') format('truetype'),
url('../fonts/LondrinaSolid-Regular-webfont.svg#svgFontName') format('svg');
}