body{
width:100%;
height:100%;
background-color:#e0e0e0;
overflow: hidden !important;
border: 0 none;
position:relative;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
}

a{
border: 0 none;
visibility: hidden;
display:block;
}

h1{
font-size:20px;
}

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }



.welcome_screen{
background-image:url('../img/background.jpg') !important;
background-size: 100% 100%;
position:relative;
border:0;
}

.about_screen{
background-image:url('../img/background_about.jpg') !important;
background-size: 100% 100%;
position:relative;
border:0;
}

.gameplay_screen{
background-image:url('../img/gameplay_screen.jpg') !important;
background-size: 100% 100%;
position:relative;
border:0;
}


.button_wrapper{
width:40%;
height:38%;
position:absolute;
margin-left:55%;
margin-top:2%;
}


.button_newgame{
background-image:url('../img/button_newgame.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:30%;
height:23%;
position:absolute;
left:65%;
top:46%;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}


.button_about{
background-image:url('../img/button_about.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:30%;
height:23%;
position:absolute;
left:60%;
top:73%;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}


.button_left{
z-index:99;
background-image:url('../img/button_left.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:5%;
height:10%;
position:absolute;
left:1%;
top:46%;
opacity:1.0;
filter:alpha(opacity=100);
}

.button_right{
z-index:99;
background-image:url('../img/button_right.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:5%;
height:10%;
position:absolute;
left:33%;
top:46%;
opacity:1.0;
filter:alpha(opacity=100);
}

.button_left:active,
.button_left:hover,
.button_right:active,
.button_right:hover,
.button_newgame:active,
.button_newgame:hover,
.button_done:active,
.button_done:hover,
.button_tutorial:active,
.button_tutorial:hover,
.button_about:active,
.button_about:hover
{
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}



.button_done{
background-image:url('../img/button_done.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:30%;
height:23%;
position:absolute;
left:65%;
top:39%;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}


.button_tutorial{
background-image:url('../img/button_tutorial.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:30%;
height:23%;
position:absolute;
left:60%;
top:66%;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}


#button_pause{
background-image:url('../img/button_pause.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:15%;
height:25%;
position:absolute;
left:80%;
top:69%;
border:0;
z-index:80;
opacity:1.0;
filter:alpha(opacity=100);
}

#button_pause:active,
#button_pause:hover
{
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}



#button_music_on{
background-image:url('../img/button_music_on.png');
background-size:100%;
background-repeat:no-repeat;
width:15%;
max-height:25%;
min-height:25%;
position:absolute;
left:60%;
top:10%;
opacity:1.0;
filter:alpha(opacity=100);
float:left;
}

#button_music_off{
background-image:url('../img/gray_off.png');
background-size:100%;
background-repeat:no-repeat;
width:15%;
height:25%;
position:absolute;
left:78%;
top:10%;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}

#button_music_on:active,
#button_music_on:hover{
background-image:url('../img/button_music_on.png');
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}

#button_music_off:active,
#button_music_off:hover{
background-image:url('../img/button_music_off.png');
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}






.button_back{
background-image:url('../img/button_back.png');
visibility:visible;
width:200px;
height:94px;
border:0;
opacity:1.0;
filter:alpha(opacity=100);
}

.button_back:active,
.button_back:hover{
opacity:0.8;
filter:alpha(opacity=80);
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
}



.overlay_zombie{
z-index:99;
background-image:url('../img/overlay_zombie.png');
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:36%;
height:16%;
position:absolute;
margin-left:0%;
margin-top:0%;
opacity:1.0;
filter:alpha(opacity=100);
}

#zombie{
background:transparent url('../img/zombie.png') 0 0 no-repeat;
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:46%;
height:100%;
position:absolute;
margin-left:3%;
margin-top:0%;
opacity:1.0;
filter:alpha(opacity=100);
}

#zombie_gameplay{
background:transparent url('../img/zombie1.png') 0 0 no-repeat;
visibility:visible;
background-size:100%;
background-repeat:no-repeat;
width:28%;
height:100%;
position:absolute;
margin-left:5%;
margin-top:0%;
border:0;

-webkit-animation-name: zombie;
-webkit-animation-duration: 6s;
-webkit-transform-origin:50% 100%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

-o-animation-name: zombie;
-o-animation-duration: 6s;
-o-transform-origin:50% 50%;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: linear;

-moz-animation-name: zombie;
-moz-animation-duration: 6s;
-moz-transform-origin:50% 50%;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;

animation-name: zombie;
animation-duration: 6s;
transform-origin:50% 50%;
animation-iteration-count: infinite;
animation-timing-function: linear;
}




.ui-page { -webkit-backface-visibility: hidden; }

canvas{
position:absolute;
z-index:10;
display:block;
height:100%;
width:100%;

}

body:active #zombie_gameplay{ 
    background-image:url('../img/zombie2.png');
}

.canvas_wrapper{
position: relative;
height:100%;
width:100%;
}


.overlay     { position:absolute; top:0%; left:0%; width:100%; height:100%;}

#overlay_begin     {
visibility:visible;
position:absolute;
z-index:99; 
background-image:url('../img/overlay_begin.png');
background-size: 100% 100%;
width:100%;
height:100%;
}
 


 
.logotype{
background-image:url('../img/logotype.png');
background-size:100%;
background-repeat:no-repeat;
width:45%;
height:42%;
position:absolute;
left:50%;
top:2%;


-webkit-animation-name: logotype;
-webkit-animation-duration: 6s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

-o-animation-name: logotype;
-o-animation-duration: 6s;
-o-transform-origin:50% 50%;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: linear;

-moz-animation-name: logotype;
-moz-animation-duration: 6s;
-moz-transform-origin:50% 50%;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;

animation-name: logotype;
animation-duration: 6s;
transform-origin:50% 50%;
animation-iteration-count: infinite;
animation-timing-function: linear;
 }
 
.nomnom{
visibility:hidden;
background-image:url('../img/nom.png');
width:127px;
height:66px;
margin-left:33%;
margin-top:30%;
position:absolute;
border:0;
z-index:80;
 }
 
.x1{
visibility:hidden;
background-image:url('../img/x1.png');
background-size:100%;
background-repeat:no-repeat;
width:6%;
height:7%;
position:absolute;
left:66%;
top:10.5%;
border:0;
z-index:80;
 }
 
.x2{
visibility:hidden;
background-image:url('../img/x2.png');
background-size:100%;
background-repeat:no-repeat;
width:7%;
height:8%;
position:absolute;
left:73%;
top:10.6%;
border:0;
z-index:80;
 }
 
.x3{
visibility:hidden;
background-image:url('../img/x3.png');
background-size:100%;
background-repeat:no-repeat;
width:8%;
height:9%;
position:absolute;
left:80%;
top:11.2%;
border:0;
z-index:80;
 }

 



/*-----------------------Animations---------------------------- */

@-o-keyframes logotype {
	0% { -o-transform: translate(2px, 1px) rotate(0deg); }
	10% { -o-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -o-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -o-transform: translate(0px, 2px) rotate(0deg); }
	40% { -o-transform: translate(1px, -1px) rotate(1deg); }
	50% { -o-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -o-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -o-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -o-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -o-transform: translate(2px, 2px) rotate(0deg); }
	100% { -o-transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes logotype {
	0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes logotype {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes logotype {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*-----------------------Animations---------------------------- */
@-o-keyframes zombie {
	0% { -o-transform: translate(2px, 0px) rotate(0deg); }
	10% { -o-transform: translate(-1px, 0px) rotate(-1deg); }
	20% { -o-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -o-transform: translate(0px, 0px) rotate(0deg); }
	40% { -o-transform: translate(1px, 0px) rotate(1deg); }
	50% { -o-transform: translate(-1px, 0px) rotate(-1deg); }
	60% { -o-transform: translate(-3px, 0px) rotate(0deg); }
	70% { -o-transform: translate(2px, 0px) rotate(-1deg); }
	80% { -o-transform: translate(-1px, 0px) rotate(1deg); }
	90% { -o-transform: translate(2px, 0px) rotate(0deg); }
	100% { -o-transform: translate(2px, 0px) rotate(-1deg); }
}

@-moz-keyframes zombie  {
	0% { -moz-transform: translate(2px, 0px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, 0px) rotate(-1deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	40% { -moz-transform: translate(1px, 0px) rotate(1deg); }
	50% { -moz-transform: translate(-1px, 0px) rotate(-1deg); }
	60% { -moz-transform: translate(-3px, 0px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 0px) rotate(-1deg); }
	80% { -moz-transform: translate(-1px, 0px) rotate(1deg); }
	90% { -moz-transform: translate(2px, 0px) rotate(-1deg); }
	100% { -moz-transform: translate(2px, 0px) rotate(0deg); }
}

@-webkit-keyframes zombie {
	0% { -webkit-transform: translate(2px, 0px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, 0px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, 0px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 0px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 0px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 0px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, 0px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 0px) rotate(0deg); }
	100% { -webkit-transform: translate(2px, 0px) rotate(1deg); }
}

@keyframes zombie  {
	0% { transform: translate(2px, 0px) rotate(0deg); }
	10% { transform: translate(-1px, 0px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 0px) rotate(0deg); }
	40% { transform: translate(1px, 0px) rotate(1deg); }
	50% { transform: translate(-1px, 0px) rotate(-1deg); }
	60% { transform: translate(-3px, 0px) rotate(0deg); }
	70% { transform: translate(2px, 0px) rotate(-1deg); }
	80% { transform: translate(-1px, 0px) rotate(1deg); }
	90% { transform: translate(2px, 0px) rotate(0deg); }
	100% { transform: translate(1px, 0px) rotate(-1deg); }
}


@font-face {
font-family: 'londrina';
src: url('../fonts/LondrinaSolid-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/LondrinaSolid-Regular-webfont.woff') format('woff'),
url('../fonts/LondrinaSolid-Regular-webfont.ttf') format('truetype'),
url('../fonts/LondrinaSolid-Regular-webfont.svg#svgFontName') format('svg');
}