<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>No Candy For My Zombie</name>
	<preference name="orientation" value="landscape" />
    <description>The most awesome game ever</description>

    <author href="http://pgalor.com" email="wro@g.pl">Piotr Galor</author>

	
	<gap:splash src="img/splash.jpg" gap:platform="winphone" />
	<icon src="img/icon.png" gap:platform="winphone" />
	<icon src="img/tileicon.png" gap:platform="winphone" gap:role="background" />

</widget>